// Google Maps specific styling

html{
	height: 100%
}
body{
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background-image:url("../img/blank_bg.gif");
	overflow:hidden;
}
#map-canvas { 
	height: 100%;
	@include breakpoint(desktop){
		margin-left:22em;
	}
}